<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
<p>ユーザー：<%= link_to user.id,user_path(user) %></p>
<p>名前：<%= link_to user.name,user_path(user) %></p>
<p>Eメール：<%= link_to user.email,user_path(user) %></p>
<br>
<% end %>
<%= paginate(@users) %>
