<%= form_tag("/login") do  %>
<h2>Eメール</h2>
<input  name="email" placeholder="neko@gmail">
<h2>パスワード</h2>
<input type="password" placeholder=777 name="password">
<br>
<input type="submit"  value="ログイン" class="btn btn-info">
<% end %>
