<br>
<div class="text-left text-success">
<h1>・当サイトはたくさんのユーザーが書き込みやコメントをするアプリです。</h1>
<br>
<h1>・投稿一覧では内容を検索する機能もついており便利です！</h1>
<br>
<h1>・リンク機能も優れており便利にサイト内を移動出来ます！</h1>
<br>
<h1>・ユーザー一覧や投稿一覧には表示件数が設定されており、閲覧に便利です</h1>
</div>
