@import "bootstrap";
*{
  list-style: none;
}
.link_top li{
  font-size: 20px;
}

body{
  font-size:20px;
}
.post-comment {
  font-size: 25px;
}
// input{
//   font-size: 20px;
// }
// input[type="submit"]{
//     width: 200px;
//     background-color: yellow;
//     opacity: 0.8;
// }
